In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns 
from astropy.io import fits
from astropy.table import Table
from scipy.stats.stats import pearsonr
from scipy import stats
from collections import Counter

In [2]:
df = pd.read_csv('../data/data_clean.csv')
df.head()

,Unnamed: 0,names,pictures,loc,time,style_0,style_1,style_2,tags_0,tags_1,tags_2,tags_3,tags_4,tags_5,tags_6,tags_7,tags_8,tags_9
0,0,000ecstaSY000,75820.jpg,"Surat, Gujarat",2011-07-09,romantic,fall,NaN,puple,boots,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,000ecstaSY000,75818.jpg,"Surat, Gujarat",2012-08-04,chic,beach,summer,maroon,bracelet,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,0011zm,129462.jpg,"Ontario, Ontario",2013-04-15,urban,spring,NaN,boots,jacket,leggings,shirt,NaN,NaN,NaN,NaN,NaN,NaN
3,3,0011zm,129468.jpg,"Ontario, Ontario",2010-04-22,vintage,spring,NaN,hat,bag,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,0011zm,129454.jpg,"Ontario, Ontario",2014-07-30,leather,other,summer,shirt,bra,pants,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
#make chart - summer and winter vs sunglasses and parka

In [ ]:
#count summer, winter, sunglasses, parka

In [4]:
styleWords = ' '
for index, row in df.iterrows():
    word0 = row['style_0']
    if (word0 != None) and ('nan' not in str(word0)):
        styleWords = styleWords + str(word0) + ' '
    word1 = row['style_1']
    if (word1 != None) and ('nan' not in str(word1)):
        styleWords = styleWords + str(word1) + ' '
    word2 = row['style_2']
    if (word2 != None) and ('nan' not in str(word2)):
        styleWords = styleWords + str(word2) + ' '
        
tagWords = ' '
for index, row in df.iterrows():
    word0 = row['tags_0']
    if (word0 != None) & ('nan' not in str(word0)):
        tagWords = tagWords + str(word0) + ' '
    word1 = row['tags_1']
    if (word1 != None) & ('nan' not in str(word1)):
        tagWords = tagWords + str(word1) + ' '
    word2 = row['tags_2']
    if (word2 != None) & ('nan' not in str(word2)):
        tagWords = tagWords + str(word2) + ' '

In [15]:
styleCountsTotal = dict(Counter(styleWords.split()))
tagCountsTotal = dict(Counter(tagWords.split()))

print("Number of 'summer'" + str(styleCountsTotal['summer']))
print("Number of 'winter'" + str(styleCountsTotal['winter']))
print("Number of 'shorts'" + str(tagCountsTotal['shorts']))
print("Number of 'coats'" + str(tagCountsTotal['coat']))

summerTot = styleCountsTotal['summer']
winterTot = styleCountsTotal['winter']
shortsTot = tagCountsTotal['shorts']
coatsTot = tagCountsTotal['coat']

Number of 'summer'103818
Number of 'winter'34317
Number of 'shorts'12638
Number of 'coats'12126

In [11]:
summerShorts = 0
summerCoats = 0
winterShorts = 0
winterCoats = 0

for index, row in df.iterrows():
    style0 = row['style_0']
    style1 = row['style_1']
    style2 = row['style_2']
    tag0 = row['tags_0']
    tag1 = row['tags_1']
    tag2 = row['tags_2']
    if ('summer' in str(style0)) or ('summer' in str(style1)) or ('summer' in str(style2)):
        if ('shorts' in str(tag0)) or ('shorts' in str(tag1)) or ('shorts' in str(tag2)):
            summerShorts += 1                                                         
        if ('coat' in str(tag0)) or ('coat' in str(tag1)) or ('coat' in str(tag2)):
            summerCoats += 1
    if ('winter' in str(style0)) or ('winter' in str(style1)) or ('winter' in str(style2)):
        if ('shorts' in str(tag0)) or ('shorts' in str(tag1)) or ('shorts' in str(tag2)):
            winterShorts += 1                                                         
        if ('coat' in str(tag0)) or ('coat' in str(tag1)) or ('coat' in str(tag2)):
            winterCoats += 1

In [16]:
print('Percent summer and shorts ' + str(summerShorts/summerTot))
print('Percent summer and coats ' + str(summerCoats/summerTot))
print('Percent winter and shorts ' + str(winterShorts/winterTot))
print('Percent winter and coats ' + str(winterCoats/winterTot))

Percent summer and shorts 0.07253077501011386
Percent summer and coats 0.012955364195033616
Percent winter and shorts 0.011044088935513011
Percent winter and coats 0.13162572485939913

In [5]:
#Null hypothesis: shorts and coats tags don't correlate to summer and winter styles
#compare summer shorts and winter shorts
#compare summer coats and winter coats

In [22]:
#expected summer shorts and winter shorts
percentExpectedShorts = (summerShorts+winterShorts)/(summerTot+winterTot)
percentExpectedShorts

0.05725558330618598

In [23]:
summerShortsExpect =  summerTot * percentExpectedShorts
winterShortsExpect =  winterTot * percentExpectedShorts
summerNotShortsExpect = summerTot * (1 - percentExpectedShorts)
winterNotShortsExpect = winterTot * (1 - percentExpectedShorts)

In [24]:
chi2 = (((summerShorts - summerShortsExpect)**2)/summerShortsExpect)
+ (((winterShorts - winterShortsExpect)**2)/winterShortsExpect)
+ ((((summerTot - summerShorts) - summerNotShortsExpect)**2)/summerNotShortsExpect)
+ ((((winterTot - winterShorts) - winterNotShortsExpect)**2)/winterNotShortsExpect)
chi2

423.08551161463396

In [25]:
print('For a chi^2 of 423 and one degree of freedom, the p value is much less than 0.001.')
print('Therefore the null hypothesis can be rejected')

For a chi^2 of 423 and one degree of freedom, the p value is much less than 0.001.
Therefore the null hypothesis can be rejected

In [27]:
#repeat for coats
percentExpectedCoats = (summerCoats+winterCoats)/(summerTot+winterTot)
percentExpectedCoats

0.042436746660875234

In [28]:
summerCoatsExpect =  summerTot * percentExpectedCoats
winterCoatsExpect =  winterTot * percentExpectedCoats
summerNotCoatsExpect = summerTot * (1 - percentExpectedCoats)
winterNotCoatsExpect = winterTot * (1 - percentExpectedCoats)

In [29]:
chi2 = (((summerCoats - summerCoatsExpect)**2)/summerCoatsExpect)
+ (((winterCoats - winterCoatsExpect)**2)/winterCoatsExpect)
+ ((((summerTot - summerCoats) - summerNotCoatsExpect)**2)/summerNotCoatsExpect)
+ ((((winterTot - winterCoats) - winterNotCoatsExpect)**2)/winterNotCoatsExpect)
chi2

2126.308454585232

In [30]:
print('For a chi^2 of 2126 and one degree of freedom, the p value is much less than 0.001.')
print('Therefore the null hypothesis can be rejected')

For a chi^2 of 2126 and one degree of freedom, the p value is much less than 0.001.
Therefore the null hypothesis can be rejected